{% extends 'base.html' %} {% load static %} {% block head %}
<link rel="stylesheet" href="{% static 'css/character.css' %}"/>
{% endblock %} {% block content %}
<section class="character-container">
  <div class="character-img">
    <img src="{% static 'images/mirm-WIP.svg' %}" alt="mirm logo" />
  </div>
  <div class="character-details">
    <h1>{{ character.main_identity }}</h1>
    <p>{{ character.universe }}</p>
    <div class="character-tags">
      <a href="{% url 'character-update' character.id %}">edit</a>
      <a href="{% url 'character-delete' character.id %}">delete</a>
    </div>
  </div>

  <h3>Add Name/Alias</h3>
  <form
    action="{% url 'add-name' character.id %}"
    method="POST"
    class="alias-content"
    autocomplete="off"
  >
    {% csrf_token %} {{ name_form.as_p }}
    <button type="submit" class="btn-submit">add name/alias</button>
  </form>

  <h3>Other Names/Alias</h3>
  {% if character.name_set.count %}
  <table>
    <thead>
      <th>names/alias</th>
    </thead>
    <tbody>
      {% for name in character.name_set.all %}
      <tr>
        <td>{{name.alias}}</td>
      </tr>

      <tr>
        {% endfor %}
      </tr>
    </tbody>
  </table>
  {% else %}
  <div>
    <p>Just a one-name wonder like Cher.</p>
  </div>
  {% endif %}
</section>

<section class="toys">
  <div class="subsection-title">
    <h2>Powers</h2>
  </div>

  <h3>{{ character.main_identity }}'s Powers</h3>
  <div class="subsection-content">
      {% for power in character.powers.all %}
        <div class="character-container">
          <a href="{% url 'power-detail' power.id %}">
            <p>{{ power.power }}</p>
          </a>
          <form action="{% url 'unassociate-power' character.id power.id %}" method="post">
            {% csrf_token %}
            <button type="submit" class="btn submit">Remove Power</button>
          </form>
        {% empty %}
          <p class="no-powers">{{character.main_identity}} doesn't have any powers!</p>
      {% endfor %} 
  </div>

  <h3>Available Powers</h3>
  <div class="subsection-content">
    {% for power in powers %}
      <div class="power-container">
        <p>{{ power.power }}</p>
        <form action="{% url 'associate-power' character.id power.id %}" method="post">
          {% csrf_token %}
          <button type="submit" class="btn submit">Give Power</button>
        </form>
      </div> 
    {% endfor %}
  </div>
</section>

{% endblock %}
