{% extends 'base.html' %}
{% load static %}
{% block head %}
<link rel="stylesheet" href="{% static 'css/characters/character-detail.css' %}" />
{% endblock %} 
{% block content %}
<section class="character-container">
  <div class="character-img">
    <img src="{% static 'images/mirm-WIP.svg' %}" alt="mirm logo" />
  </div>
  <div class="character-details">
    <h1>{{ character.main_identity }}</h1>
    <p>{{ character.universe }}</p>
    <h3>other names and identities:</h3>
    {% for other_name in other_names %}
      <p>{{ other_name }}</p>
    {% endfor%}
    <h3>powers:</h3>
    {% for power in powers %}
      <p>{{ power }}</p>
    {% endfor %}
  </div>
</section>
{% endblock %}