{% extends 'base.html' %} 
{% load static %} 
{% block head %}
<link rel="stylesheet" href="{% static 'css/character.css' %}"/>
{% endblock %} 
{% block content %}

<section class="page-header">
  <h1>Character List</h1>
</section>

<section class="card-container">
  {% for character in characters %}
    <div class="card">
      <a href="{% url 'character-detail' character.id %}">
      <div class="card-content">
        <div class="card-img-container">
          <img
            src="{% static 'images/mirm-WIP.svg' %}"
            alt="mirm WIP logo"
          />
        </div>
        <h2 class="card-title">{{ character.main_identity }}</h2>
        <p> {{ character.universe }}</p>
      </div>
    </a>
    </div>
  {% endfor %}
</section>

{% endblock %}
